#banner{
    background-image: url(/public/img/2550628.jpg);
    background-size: 100%;
    min-height: 500px;
    margin-top: 80px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#home{
    padding: 100px 0 0 0;
}
.introduction{
    width: 100%;
    background-color: rgba(169,169,169, 0.5);
    background-size: 100%;
    padding: 50px;
    text-align: right;
}
.introduction h1{
    font-size: 50px;
}
.introduction p{
    font-size: 24px;
}